<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Photo Album</title>
    </head>
    <body>
    {% if pictures %}
        <ul>
        {% for picture in pictures %}
            <li><a href="{{ picture.picfile.url }}">{{ picture.picfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pictures!</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.picfie.label_tag }} {{ form.picfile.help_text }}</p>
            <p>
                {{ form.picfile.errors }}
                {{ form.picfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>
